@import url('https://fonts.googleapis.com/css?family=Questrial');

* { margin:0; padding:0; font-family:'Questrial',sans-serif; }

html,body { width:100%; height:100%; overflow-x:hidden; }
a, a:hover, h1, h4 { text-decoration:none; transition:.3s ease-in-out; }
input, select, textarea { outline:none; }
ul, li { list-style-type:none; float:left; }
h1 { color:#666; padding:30px 0; text-align:center; }


/* Header */

header { width:100%; height:60px; z-index:999; background:#f2f2f2; transition:.3s ease-in-out; -ms-transition:.3s ease-in-out; }
#menuPrincipale { width:100%; height:100%; float:left; }
#menuPrincipale .container { height:100%; }

#menuLeft { width:auto; height:100%; float:left; text-align:center; }
.input-group .form-control { width:160px; height:35px; font-style:italic; line-height:36px; border:1px solid #eaeaea; background:#fff; border-right:0; color:#444; transition:.3s ease-in-out; -ms-transition:.3s ease-in-out; }
.input-group .form-control:hover,
.input-group .form-control:focus,
.input-group:hover .input-group-btn .btn-default { background:#f9f9f9; }
.input-group .input-group-btn .btn-default { height:35px; background:#f9f9f9; border:1px solid #eaeaea; border-left:0; color:#444; cursor:pointer; }
.input-group .input-group-btn .btn-default:focus { box-shadow:none; }


#menuRight { width:auto; height:30px; float:right; }
.menulink { height:100%; list-style-type:none; display:inline-block; }
.menu-link li { list-style:none; float:left; margin:0; }
.menu-link li:last-child { margin-right:0; }
.menu-link li a { display:inline-block; color:#666; font-size:12px; padding:0 12px; line-height:59px; border-bottom:1px solid transparent; text-transform:uppercase; }
.menu-link li a:hover,
.menu-link li a.active { border-color:#2196f3; color:#2196f3; }


/* Container */
.container-fluid .page-container { padding-top:60px; }
.container-fluid { padding:0; background:#f9f9f9; }
.logo-web { width:auto; height:40px; margin-top:10px; float:left; }
.logo-web .logo-link { width:52px; height:100%; float:left; transition:.3s ease-in-out; }
.logo-web .logo-link img { height:100%; }
.logo-web .logo-link:hover {  }


/* Slider */

#slider { width:100%; height:600px; float:left; margin-bottom:2em; }
#slider #myCarousel { width:100%; height:100%; float:left; }
#slider #myCarousel .carousel-inner { width:100%; height:100%; float:left; }
#slider .image-slider { height:100%; background-image:url(./images/slide1.jpg); background-size:cover; background-position:center center; background-repeat:no-repeat; }


/* Post */
.thumbnail { padding: 0 0 15px 0; border:1px solid #eee; background:#f6f6f6; margin-bottom:2em; position:relative; text-align:justify; }
.thumbnail:hover { background:#f2f2f2; }
.thumbnail .img-post { width:100%; height:240px; float:left; overflow:hidden; position:relative; margin-bottom:20px; }
.thumbnail .img-post .img-background { width:100%; height:100%; float:left; background-repeat:no-repeat; background-size:cover; background-position:center center; }
.thumbnail .img-post .overlay-thumb { width:100%; height:100%; background:rgba(22,150,243,0); position:absolute; opacity:0; transition:.3s ease-in-out; }
.thumbnail .img-post .overlay-thumb .overlay-text { display:table; width:calc(100% - 12px); height:calc(100% - 12px); margin:6px 0 0 6px; position:absolute; color:#fff; cursor:default; text-align:center; border:4px solid #1565C0; }
.thumbnail .img-post .overlay-thumb .overlay-text .overlay-text-table { display:table-cell; vertical-align:middle; }
.thumbnail .img-post .overlay-thumb .overlay-text .overlay-text-table .subtext { font-size:28px; }
.thumbnail .img-post .overlay-thumb .overlay-text .overlay-text-table a { color:#1565C0; font-size:20px; margin:0 12px; }
.thumbnail .img-post .overlay-thumb .overlay-text .overlay-text-table a:hover { color:#fff; }
.thumbnail:hover .img-post .overlay-thumb { background:rgba(22,150,243,.9); opacity:1; }
.thumbnail .img-post img { height:100%; object-fit:fill; }

.col-sm-4 .thumbnail .img-post .overlay-thumb .overlay-text .overlay-text-table .subtext { font-size:22px; margin-bottom:8px; }

.thumbnail h4 { color:#444; margin-bottom:7px; text-align:left; padding:0 20px; font-size:22px; }
.thumbnail:hover h4 { color:#2196F3; }
.thumbnail .title-thumbnail { float:left; width:100%; }
.thumbnail .bottom-box p { color:#444; padding:0 20px 0;  }
.thumbnail .bottom-box .info-post { width:100%; float:left; padding:10px 15px; }
.thumbnail .bottom-box .date { border-right:1px solid #bbb; }
.thumbnail .bottom-box .date, .thumbnail .bottom-box .categ { padding:0 5px; text-align:left; float:left; color:#666; text-transform:uppercase; font-size:12px; margin-bottom:2px; }
.thumbnail .bottom-box .categ { margin-bottom:10px; }

.thumbnail .post-ins-buttons { text-align:center; }
.thumbnail .post-ins-buttons a { color:#888; padding:7px 30px; }
.thumbnail .post-ins-buttons a:hover { color:#2196F3; }


/* Internal Post page */

.title-internal-post { width:100%; }
.title-internal-post h1 { font-style:italic; text-align:left; font-size:32px; color:#2196F3; padding:20px 0; }

.author-date-internal { width:100%; float:left; }
.author-date-internal i { color:#444; font-size:14px; margin-right:8px; transition:.3s ease-in-out; -ms-transition:.3s ease-in-out; }
.author-date-internal .author { font-style:italic; color:#444; font-size:16px; float:left; }
.author-date-internal .date { color:#444; font-size:14px; font-style:italic; float:left; margin:1px 0 0 20px; }
.author-date-internal .author:hover i,
.author-date-internal .date:hover i{ color:#2196F3; }

.text-internal-post { width:100%; margin-bottom:2em; }
.text-internal-post p { color:#444; text-align:justify; }
.text-internal-post a { color:#666; font-style:italic; border-bottom:1px solid #444; }
.text-internal-post a:hover { color:#2196F3; border-color:#2196F3; }

.media-post { width:100%; float:left; }


/* Right Post page category */

.right-categ-post { width:100%; margin-top:124px; }
.right-categ-post h3 { color:#2196F3; font-style:italic; margin-bottom:20px; text-align:center; }


/* Social tab */

#socialTab { width:100%; height:40px; float:left; font-size:16px; background:#f6f6f6; border-top:1px solid #e2e2e2; text-align:center; transition:.3s ease-in-out; -ms-transition:.3s ease-in-out; }
#socialTab:hover { border-color:#d1d1d1; }
#socialTab .link-table { margin:0 auto; }
#socialTab .social-link td { line-height:40px; float:left; position:relative; }
#socialTab .social-link td a { color:#888; margin:0 6px; padding:0 6px; }
#socialTab .social-link td a:focus,
#socialTab .social-link td a:hover { color:#2196F3; }

/* Footer */

footer { width:100%; height:50px; float:left; background:#444; text-align:center; font-style:italic; }
footer p { color:#fff; margin-bottom:0; padding-top:16px; font-size:14px; }
